* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
    height: 100vh;
    background: #121212;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

#input-div {
    height: fit-content;
}

.input-box {
    width: auto;
    height: 122px;
    border-radius: 30px;
    padding: 15px;
    font-weight: 500;
    font-size: 48px;
    outline: none;
    border: none;
    background: #5465BF;
    color: #FFFFFF;
    overflow: hidden;
}

.input-box::placeholder {
    color: #FFFFFF;
    opacity: 0.6;
}

#buttons-div {
    display: flex;
    gap: 45px;
}

button {
    color: #121212;
    font-weight: 500;
    font-size: 45px;
    transition: transform .2s, border-bottom .2s, height .2s;
}

button:hover {
    opacity: 0.7;
}

button:active {
    border-bottom: 4px solid #29377e;
    height: 96px;
    transform: translateY(4px)
}

.calc-btn {
    border: none;
    width: 205px;
    height: 100px;
    border-radius: 15px;
    border-bottom: 8px solid #5465BF;
    cursor: pointer;   
}

.copy-btn {
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 8px solid #5465BF;
}

.copy-btn ion-icon {
    --ionicon-stroke-width: 40px;
}

#invisible-input {
    position: absolute;
    opacity: 0;
    left: -700px;
}